/* reformat doc */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

/* rules for the doc */
* {
    text-decoration: none;
    list-style-type: none;
    }

/* Nav bar */
nav {
    background: #333;
    overflow: auto;
    }

nav a {
        color: white;
    }

nav h1 {
    float: left;
    padding: 15px;
}

nav ul {
    float: right;
    list-style: none;
    padding: 15px;
}

.navbar {
    max-width:1100px;
    margin: auto;
    padding: 10;
    overflow: auto;
}

nav ul li { 
    float: left;  
}

  
nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

nav ul li a.current, nav ul li a:hover {
    background: #444;
    color: #f7c08a; 
}
    /* showcase */
#showcase {
    background-image: url("showcase.jpg");
    height: 600px;
    background-size: cover;
    background-position: center center;
}